
body {
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    align-content: center;
    height: 64px;
    width: 100%;
}

.menu {
    list-style: none;
    width: 100%;
    margin: 0 0 0 32px;
    padding-left: 0;
    height: 64px;
}

.menu li {
    display: inline;
    margin-right: 32px;
}

.menu a {
    text-decoration: none;
    color: black
}

.title {
    display: inline;
    font-size: 64px;
}

.logo {
    display: block;
    float: left;
    margin-left: 32px;
    margin-top: 32px;
    text-align: right;
    height: 256px;
}

.gallery {
    align-content: center;
    width: 100%;
}

.gallery img {
    object-fit: cover;
    width: auto;
    height: 512px;
    max-height: 512px;
}

.spacer {
    height: 128px;
    background-color: red;
}
